name: project-automation

on:
  project_card:
    types: [ created, moved, converted, edited, deleted ]

# Backlog = 8849132
# Scheduled = 8849133

jobs:
  process-project-update:
    runs-on: ubuntu-latest
    steps:
      - name: Process variables
        run: |
          echo "Actor: ${{ github.actor }}"
          echo "Event: ${{ github.event.action }}"
          echo "From Column: ${{ github.event.changes.column_id.from }}"
          echo "To Column: ${{ github.event.project_card.column_id }}"
          echo "Issue URL: ${{ github.event.project_card.content_url }}"
              
      - name: Dump GitHub context
        if: github.event.action != ''
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
