name: project-automation

on:
  project_card:
    types: [ created, moved, converted, edited ]

jobs:
  new-issue:
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v1.0.0
                
      - name: Process card movement
        if: github.action == 'moved'
        run: |
          echo "Card moved"
          echo github.event
              
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

















#  test:
#    runs-on: ubuntu-latest
#    steps:
#    - name: Analyze project
#      id: analyze
#      uses: dmckinstry/ProjectSummary@v.ci
#      with:
#        login: dmckinstry
#        repo: ProjectSummary
#        project: ProjectSummaryTest
#        token: ${{ secrets.token }}#
#    - uses: actions/checkout@v2.1.1
#    - name: Capture test results
#      run: |
#        echo '# Test Results'                             > test-results.md
#        echo '## Markdown List'                           >> test-results.md
#        echo '${{ steps.analyze.outputs.markdownList }}'  >> test-results.md
#        echo '## JSON Results'                            >> test-results.md
#        echo '``` JSON'                                   >> test-results.md
#        echo '${{ steps.analyze.outputs.summary }}'       >> test-results.md
#        echo '```'                                          >> test-results.md
#        git add test-results.md
#        git stage test-results.md
#        git config --global user.email "${{ secrets.email }}"
#        git config --global user.name "${{ secrets.login }}"
#        git commit . -m "Updated integration test results per ${{ github.run_id }}"
#        git push`
